<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
  <head>

  </head>
  <body>
      <div th:fragment="footer">

<!-- footer -->
      <footer>
        <div class="card text-center bg-secondary" style="
        margin-top: 5%;
        bottom:0;
        width:100%;
        height:102px;">
            <div class="card-body">
                <h5 class="card-title" style="color: white;">Technogory Store</h5>
                <p class="card-text"style="color: white;">@Copy right by DongDong</p>                
            </div>
        </div>
    </footer>
</div>
  </body>
</html>